.table {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
}
.table img {
  grid-column: 1;
  width: 15vw;
  margin: 0 auto;
}

.data {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 1vw;
  font-size: 1.4vw;
}

.data p {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.4rem;
  margin-right: 8px;
}

.data input, .data select {
  font-size: 1vw;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 2vw;
}

.multi{
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}



.buttons {
  margin-top: 0.5vw;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1vw;
  padding-left: 1vw;
}

.save,
.cancel {
  text-decoration: none;
  border-style: none;
  padding: 1vw;
  border-radius: 25px;
  background-color: #2397d3;
  color: white;
  font-size: 1.2vw;
  text-align: center;
  width: 100%;
}

.save:hover,
.cancel:hover {
  background-color: #00d4ff;
  cursor: pointer;
}

@media (max-width: 800px) {
  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .data{
    width: 60%;
    margin-top: 2vw;
    margin-left: 0;
  }
  .buttons{
    width: 50%;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}
